<a href="https://colab.research.google.com/github/akmalrusdy/python/blob/main/data_cleaning_SIPSN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df1=df.dropna()
df1=df.dropna(axis=0)

In [ ]:
df1.head()

,Tahun,Provinsi,Kabupaten/Kota,Sisa Makanan (%),Kayu-Ranting (%),Kertas-Karton (%),Plastik(%),Logam(%),Kain(%),Karet- Kulit (%),...,Lainnya(%),total1,Rumah Tangga(ton),Perkantoran(ton),Pasar(ton),Perniagaan(ton),Fasilitas Publik(ton),Kawasan(ton),Lain(ton),total2
2,2019,Aceh,Kab. Aceh Timur,37.0,14.0,5.0,26.0,5.0,3.0,2.0,...,4.0,100.0,17.35,5.00,10.00,8.00,5.0,2.00,2.0,49.35
3,2019,Aceh,Kab. Aceh Tengah,20.0,20.0,10.0,25.0,5.0,10.0,5.0,...,2.0,100.0,14520.00,5000.00,16030.00,11322.00,10230.0,11320.00,29165.0,97587.00
4,2019,Aceh,Kab. Aceh Tengah,22.0,18.0,7.0,26.0,3.0,11.0,5.0,...,3.0,100.0,14991.90,5162.50,16551.00,11690.00,10562.5,99999.99,30108.5,189066.39
5,2019,Aceh,Kab. Aceh Barat,20.0,10.0,15.0,20.0,2.0,3.0,2.0,...,23.0,100.0,30.00,15.28,30.00,5.00,10.0,5.00,5.0,100.28
6,2019,Aceh,Kab. Pidie,4.0,2.5,4.3,23.7,1.0,1.0,1.0,...,2.0,41.5,5.74,0.40,2.84,2.01,0.5,0.67,1.3,13.46

In [ ]:
df2 = df1.drop(df1[df1.total1 < 100].index)

In [ ]:
df2

,Tahun,Provinsi,Kabupaten/Kota,Sisa Makanan (%),Kayu-Ranting (%),Kertas-Karton (%),Plastik(%),Logam(%),Kain(%),Karet- Kulit (%),...,Lainnya(%),total1,Rumah Tangga(ton),Perkantoran(ton),Pasar(ton),Perniagaan(ton),Fasilitas Publik(ton),Kawasan(ton),Lain(ton),total2
2,2019,Aceh,Kab. Aceh Timur,37.00,14.00,5.00,26.00,5.00,3.00,2.00,...,4.00,100.0,17.35,5.00,10.00,8.00,5.00,2.00,2.00,49.35
3,2019,Aceh,Kab. Aceh Tengah,20.00,20.00,10.00,25.00,5.00,10.00,5.00,...,2.00,100.0,14520.00,5000.00,16030.00,11322.00,10230.00,11320.00,29165.00,97587.00
4,2019,Aceh,Kab. Aceh Tengah,22.00,18.00,7.00,26.00,3.00,11.00,5.00,...,3.00,100.0,14991.90,5162.50,16551.00,11690.00,10562.50,99999.99,30108.50,189066.39
5,2019,Aceh,Kab. Aceh Barat,20.00,10.00,15.00,20.00,2.00,3.00,2.00,...,23.00,100.0,30.00,15.28,30.00,5.00,10.00,5.00,5.00,100.28
7,2019,Aceh,Kab. Simeulue,5.75,14.50,13.25,35.25,18.75,3.50,3.75,...,3.00,100.0,26.37,4.40,5.71,3.52,2.20,0.44,1.32,43.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,2021,Sumatera Utara,Kab. Samosir,25.00,12.00,15.00,32.00,6.00,2.00,2.00,...,2.00,100.0,11.00,2.00,5.00,4.00,1.00,4.00,1.00,28.00
720,2021,Sumatera Utara,Kota Pematang Siantar,45.00,6.00,12.00,10.00,5.00,3.00,4.00,...,11.00,100.0,162.00,5.40,22.02,12.00,6.00,12.00,13.60,233.02
722,2021,Sumatera Utara,Kota Sibolga,28.34,31.32,8.61,14.78,2.76,3.65,5.45,...,2.03,100.0,26.21,1.23,11.61,2.35,4.98,8.98,7.35,62.71
724,2020,Sumatera Utara,Kota Tebing Tinggi,62.70,1.73,11.43,16.65,0.73,2.60,0.71,...,1.62,100.0,74.66,9.43,21.17,8.81,4.36,3.67,0.39,122.49
725,2021,Sumatera Utara,Kota Tebing Tinggi,62.70,1.73,11.43,16.65,0.73,2.60,0.71,...,1.62,100.0,74.66,9.43,21.17,8.81,4.36,3.67,0.39,122.49

In [ ]:
from google.colab import files

df2.to_csv('Data SIPSN.csv', encoding = 'utf-8-sig') 
files.download('Data SIPSN.csv')

-

-

In [ ]:
!google-drive-ocamlfuse -cc

/bin/bash: google-drive-ocamlfuse: command not found

-

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/MyDrive/DA_WA-17/Data_Source/Data SIPSN TPS3R.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dfbaru = pd.read_csv(path)

In [ ]:
dfbaru

      Tahun      Provinsi  Sampahmasuk (ton/thn)  Sampahterkelola (ton/thn)
0      2021          Aceh                      0                          0
1      2021          Aceh                    183                        183
2      2021          Aceh                     34                         34
3      2021          Aceh                      4                          4
4      2021          Aceh                     13                         12
...     ...           ...                    ...                        ...
3968   2019  Maluku Utara                    219                        204
3969   2019  Maluku Utara                    183                        173
3970   2019  Maluku Utara                     12                         12
3971   2019         Papua                     73                         73
3972   2019         Papua                    110                        110

[3973 rows x 4 columns]

In [ ]:
dfbaru1=dfbaru.dropna()
dfbaru1=dfbaru.dropna(axis=0)

In [ ]:
dfbaru1

      Tahun      Provinsi  Sampahmasuk (ton/thn)  Sampahterkelola (ton/thn)
0      2021          Aceh                      0                          0
1      2021          Aceh                    183                        183
2      2021          Aceh                     34                         34
3      2021          Aceh                      4                          4
4      2021          Aceh                     13                         12
...     ...           ...                    ...                        ...
3968   2019  Maluku Utara                    219                        204
3969   2019  Maluku Utara                    183                        173
3970   2019  Maluku Utara                     12                         12
3971   2019         Papua                     73                         73
3972   2019         Papua                    110                        110

[3973 rows x 4 columns]

In [ ]:
dfnew = dfbaru1.groupby(['Tahun', 'Provinsi']).sum()

In [ ]:
dfnew

                         Sampahmasuk (ton/thn)  Sampahterkelola (ton/thn)
Tahun Provinsi
2019  Aceh                                 595                        303
      Bali                               21897                      16347
      Banten                             21844                      11153
      Bengkulu                             183                        119
      D.I. Yogyakarta                    26527                       3687
...                                        ...                        ...
2021  Sulawesi Tenggara                   2756                         60
      Sulawesi Utara                        96                         73
      Sumatera Barat                      4879                       4846
      Sumatera Selatan                    3258                       2867
      Sumatera Utara                     13370                       1635

[97 rows x 2 columns]

In [ ]:
from google.colab import files

dfnew.to_csv('Data SIPSN TPS3R.csv', encoding = 'utf-8-sig') 
files.download('Data SIPSN TPS3R.csv')